body
{
    background-image: url('https://wall.alphacoders.com/big.php?i=595875') !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.image {
    display: flex;
    justify-content: center;
}

.homeNavBar {
    display: flex;
    justify-content: center;
}

.loginInput {
    display: flex;
    justify-content: center;
    width: auto;
}

.form-control {
    width: auto;
}

.input {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-info {
    width: 20%;
    margin-left: 8px;
    align-self: center;
}