.image {
    display: flex;
    justify-content: center;
}

.homeNavBar {
    display: flex;
    justify-content: center;
}

.mydropdown {
    display: flex;
    justify-content: center;
    width: auto;
}

.opionButtons {
    display: flex;
    justify-content: center;
}

.obtn {
    margin-left: 1%;
}

.refereePaySection {
    align-items: center;
    vertical-align: middle
}

