@{
    ViewData["Title"] = "Soccer Club";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/search.min.js" integrity="sha512-cYY5gAyJxIK4sLwDYueWWJH9rEdgBNvRaEIGJ6+dQ5vzfoTqHAtUDYrG2rdZTGqACvPS9QRrnzqqRGfrgxO7ug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/list.min.css" integrity="sha512-EdCYZ3yRjGGv6xsLGcgq3q3+ednD4FKKsS8b2R7680HmDJGU7UmzPUZANqwGn/ATw1nUF/vWutR4JqEUTfbadg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/card.min.css" integrity="sha512-u5E5vOHVsB0blcZniDNfaRkTfqdgjxIgLX17YlG0vjQyos7Z7b1BXLuhHZbF2JOVRrfNNd8P6v7fw87JaFw/Rg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQveTLIBwEBaTQ-o6MgkPTQBIWzd2ceAiaYdw&usqp=CAU" width="100" height="100">
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tournaments
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Reginals Tournaments</a>
                    <a class="dropdown-item" href="#">Border Battle</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    League
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">League Schedules</a>
                    <a class="dropdown-item" href="#">Score Standings</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Coaches
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Team Contacts and seedings</a>
                    <a class="dropdown-item" href="#">Rescheduling Info</a>
                    <a class="dropdown-item" href="#">Score Correction</a>
                    <a class="dropdown-item" href="#">Refree Evaluation</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Refrees
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Assignements and Schedules</a>
                    <a class="dropdown-item" href="#">Refree Registration</a>
                    <a class="dropdown-item" href="#">Pay Date and Scale</a>
                    <a class="dropdown-item" href="#">Refree Evaluation</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="ui card">
    <div class="image">
        <img src="https://www.heartlandsoccer.net/wp-content/uploads/2021/04/futsal-regionals-2021-square@512p-150x150.png" width="100" height="100">
    </div>
    <div class="content">
        <a class="header">Regional Tournament</a>
        <div class="meta">
            <span class="date">Septemeber 27-29th 2021</span>
        </div>
        <div class="description">
            Registration Ends Septemeber 10th 2021
        </div>
    </div>
</div>




